__pycache__/
.vscode/
.pylintrc
secret.ini
backtrader/
samples/
datas/
kucoin-cli/
kucoincli/
indicators/
kucoin.sdb/
tests/
notebooks/
scrapers/
pyine/
Parla.py/
parla/
datapipe.py
kucoin.db
streamlit/
streamlit.db
backtest.db
notebooks_public/account_balance.ipynb
